<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles/base.css" type="text/css"/>
    <!-- <link rel="icon" type="image/png" href="/static/favicon.png"> -->
    {% block head %}

    {% endblock %}
    <title>Combat System Builder</title>
</head>
<body>
    <header>
        {% if session['loggedin'] == False %}
            <a href="{{ url_for('registration') }}" class="nav-text">Register</a>
            <a href="{{ url_for('login') }}" class="nav-text">Login</a>
        {% else %}
            <p class="nav-text">{{ session['username'] }}</p>
            <a href="{{ url_for('share') }}" class="nav-text">Share</a>
            <a href="{{ url_for('browse') }}" class="nav-text">Browse</a>
            <a href="{{ url_for('logout') }}" class="nav-text">Logout</a>
        {% endif %}
    </header>
    {% block body %}

    {% endblock %}
    <footer>
        <a href="https://github.com/BartoszDerenda/combat-system-builder" target="_blank">Source code</a>
    </footer>
</body>
</html>