{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage.css') }}" type="text/css" />
{% endblock %}

{% block body %}

    <div id="navigation">
        <div class="nav-box">
            <a href="{{ url_for('ruleset') }}" class="nav-text">Ruleset</a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('stat_sheet') }}" class="nav-text">Stat sheet</a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('simulation') }}" class="nav-text">Simulation</a>
        </div>
    </div>
    <div id="main-box">
        <div id="main-text">
            <h1>Combat System Builder</h1>
            <p>CSB is a tool for developing auto-battling turn-based combat systems for RPG games.</p>
            <p>To start, head to the Ruleset section to customize your systems' mechanics - there you will be able to
                tweak variables responsible for the behaviour of attributes used by the characters in Stat Sheet section.</p>
            <p>In Stat Sheet section you can prepare two fighters with attributes that are described by the ruleset.</p>
            <p>CSB offers possibility to create custom abilities used in fight described by their name, physical or magical
                attack type, damage spread and chance of occurrence in contrast of other abilities of the same time.
            </p>
            <p>
                Apart from that, CSB supports a tool for balancing the fighters called combat value. In Ruleset section,
                each attribute can have assigned a combat value. Combat value present in Stat Sheet section is the sum
                of those values multiplied by their respective attributes, giving user an estimate about the
                capabilities of the fighter. In a well-balanced combat system, fighters of identical combat value
                should have equal chances at winning the fight unless a counter strategy is in play.</p>
        </div>
    </div>

{% endblock %}