{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage.css') }}" type="text/css" />
{% endblock %}

{% block body %}

    <div id="navigation">
        <div class="nav-box">
            <a href="{{ url_for('ruleset') }}" class="nav-text">Ruleset</a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('stat_sheet') }}" class="nav-text">Stat sheet</a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('simulation') }}" class="nav-text">Simulation</a>
        </div>
    </div>
    <div id="main-box">
        <div id="main-text">
            <h1>Combat System Builder</h1>
            <p>
                CSB is a tool for developing auto-battling turn-based combat systems for RPG games.
            </p>
            <p>
                To start, head to the Ruleset section to customize your system's mechanics - there you will be able to
                tweak variables responsible for the behaviour of attributes used by the characters in the Stat Sheet section.
            </p>
            <p>
                In the Stat Sheet section you can prepare two fighters with attributes that are described by the ruleset.
            </p>
            <p>
                CSB offers possibility to create custom abilities that will be used during simulation. They are described
                by their name, physical or magical attack type, damage spread and chance of occurrence in contrast of
                other abilities of the same type.
            </p>
            <p>
                Additionally, CSB supports a tool for balancing the fighters called combat value. In the Ruleset section,
                each attribute can have assigned a combat value. Combat value present in the Stat Sheet section is the sum
                of those values multiplied by their respective attributes, giving user an estimate about the
                capabilities of the fighter. In a well-balanced combat system, fighters of similar combat values
                should have equal chances at winning against each other unless a counter strategy is applied.
            </p>
            <h1>
                The author of this website is Bartosz Derenda.
            </h1>
            <p>
                This website is an integral part of the Bachelor thesis, major in Electronic Information Processing,
                conducted under the supervision of dr hab. Janusz Jurek, prof. UJ at the Faculty of Management and
                Social Communication of the Jagiellonian University.
            </p>
            <p>
                The aim of this thesis is to build an application that could aid game developers in creating and
                balancing turn-based combat systems, which could be used both in tabletop and virtual games. It tackles
                the problem of balancing a game outside the usual scope of tweaking the game variables that the
                player can interact with during gameplay.
            </p>
        </div>
    </div>

{% endblock %}