{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/authentication.css') }}" type="text/css" />
{% endblock %}

{% block body %}

    <div id="navigation">
        <div class="nav-box">
            <a href="{{ url_for('ruleset') }}" class="nav-text">Ruleset</a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('stat_sheet') }}" class="nav-text">Stat sheet</a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('simulation') }}" class="nav-text">Simulation</a>
        </div>
    </div>
    <div id="main-box">
        <div id="main-text">
            <h1>Login</h1>
            <form id="authentication_box" action="{{ url_for('login') }}" method="POST">
                {% if message is defined and message %}
                    {{ message|safe }}
                {% endif %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" autocomplete="off" /><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" autocomplete="off" /><br>
                <div class="confirm-btn">
                    <input type="submit" name="login_submit" id="submit" value="Login">
                </div>
            </form>
        </div>
    </div>

{% endblock %}