{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ruleset.css') }}" type="text/css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block body %}
    <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <script>
    let v = 1

        function checkIfNotNumberOrNegativeOrEmpty(i) {
            if (isNaN(parseInt(i.value))) {
                i.value=v;
            }
            else if(i.value <= 1) {
                i.value=1;
            }
            else if (i.value === null) {
                i.value=1;
            }
            else
                v=i.value;
        }
    </script>

    <div id="navigation">
        <div class="nav-box">
            <a href="{{ url_for('ruleset') }}" class="nav-text current-page">< Ruleset ></a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('stat_sheet') }}" class="nav-text">Stat sheet</a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('simulation') }}" class="nav-text">Simulation</a>
        </div>
    </div>

    <form id="ruleset-box" method="POST" action="{{ url_for('ruleset') }}">
        <div id="ruleset-table">
            <table>
                <tr>
                    <td class="category-name-first">Strength</td>
                </tr>
                <tr>
                    <td>
                        Strength describes the effectiveness of physical attacks.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="strength_dmg">Each point of strength increases physical damage dealt by a value of</label>
                        <input type="number" id="strength_dmg" name="strength_dmg" value="{{ system.strength_dmg }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="strength_min">Physical damage spread ranges in between </label>
                        <input type="number" id="strength_min" name="strength_min" step="any" value="{{ system.strength_min }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        <label for="strength_max"> and </label>
                        <input type="number" id="strength_max" name="strength_max" step="any" value="{{ system.strength_max }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="strength_price">Arbitrary value of each point of strength: </label>
                        <input type="number" id="strength_price" name="strength_price" step="any" value="{{ system.strength_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Intelligence</td>
                </tr>
                <tr>
                    <td>
                        Intelligence describes the effectiveness of magical attacks.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="intelligence_dmg">Each point of intelligence increases magical damage dealt by a value of</label>
                        <input type="number" id="intelligence_dmg" name="intelligence_dmg" value="{{ system.intelligence_dmg }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="intelligence_min">Magical damage spread ranges in between </label>
                        <input type="number" id="intelligence_min" name="intelligence_min" step="any" value="{{ system.intelligence_min }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        <label for="intelligence_max"> and </label>
                        <input type="number" id="intelligence_max" name="intelligence_max" step="any" value="{{ system.intelligence_max }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="intelligence_price">Arbitrary value of each point of intelligence: </label>
                        <input type="number" id="intelligence_price" name="intelligence_price" step="any" value="{{ system.intelligence_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Agility</td>
                </tr>
                <tr>
                    <td>
                        Agility gives you a chance to dodge an opponent's attack. You take no damage from dodged attacks.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Agility increases your chance to dodge...
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_a1" name="agility_type" value="physical" checked />
                        <label for="agility_a1">Physical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_a2" name="agility_type" value="magical" />
                        <label for="agility_a2">Magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_a3" name="agility_type" value="both" />
                        <label for="agility_a3">Physical and magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the dodge chance of a character:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_b1" name="agility_math" value="1" checked />
                        <label for="agility_b1">$\Big($$Agility \over Opponent's\;strength \;*\; X$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_b2" name="agility_math" value="2" />
                        <label for="agility_b2">$\Big($$Agility \over Opponent's\;level \;*\; X$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_b3" name="agility_math" value="3" />
                        <label for="agility_b3">$\Big($$Agility \over Opponent's\;agility \;*\; X$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_b4" name="agility_math" value="4" />
                        <label for="agility_b4">$\Big($$Agility \over Opponent's\;agility \;*\; X$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_b5" name="agility_math" value="5" />
                        <label for="agility_b5">$(Agility)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="agility_math_multiplier">Where X is equal to </label>
                        <input type="number" id="agility_math_multiplier" name="agility_math_multiplier" value="{{ system.agility_math_multiplier }}"
                        onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="agility_cap">Dodge chance is capped at</label>
                        <input type="number" id="agility_cap" name="agility_cap" value="{{ system.agility_cap }}"
                        onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        %
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="agility_price">Arbitrary value of each point of agility: </label>
                        <input type="number" id="agility_price" name="agility_price" step="any" value="{{ system.agility_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Willpower</td>
                </tr>
                <tr>
                    <td>
                        Willpower lets you absorb portion of opponent's attack, lowering the damage taken by certain percentile.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Willpower increases your resistance against...
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_a1" name="willpower_type" value="magical" checked />
                        <label for="willpower_a1">Magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_a2" name="willpower_type" value="physical" />
                        <label for="willpower_a2">Physical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_a3" name="willpower_type" value="both" />
                        <label for="willpower_a3">Magical and physical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the dodge chance of a character:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_b1" name="willpower_math" value="1" checked />
                        <label for="willpower_b1">$\Big($$Willpower \over Opponent's\;intelligence \;*\; X$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_b2" name="willpower_math" value="2" />
                        <label for="willpower_b2">$\Big($$Willpower \over Opponent's\;level \;*\; X$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_b3" name="willpower_math" value="3" />
                        <label for="willpower_b3">$\Big($$Willpower \over Opponent's\;willpower \;*\; X$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_b4" name="willpower_math" value="4" />
                        <label for="willpower_b4">$\Big($$Willpower \over Opponent's\;willpower \;*\; X$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_b5" name="willpower_math" value="5" />
                        <label for="willpower_b5">$(Willpower)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="willpower_math_multiplier">Where X is equal to </label>
                        <input type="number" id="willpower_math_multiplier" name="willpower_math_multiplier" value="{{ system.willpower_math_multiplier }}"
                        onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="willpower_cap">Resistance is capped at</label>
                        <input type="number" id="willpower_cap" name="willpower_cap" value="{{ system.willpower_cap }}"
                        onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        %
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="willpower_price">Arbitrary value of each point of willpower: </label>
                        <input type="number" id="willpower_price" name="willpower_price" step="any" value="{{ system.willpower_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Endurance</td>
                </tr>
                <tr>
                    <td>
                        Endurance dictates how much health points a character possesses. When somebody's health points
                        reach zero or negative values, they lose the battle.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="base_health">Base health of all characters is </label>
                        <input type="number" id="base_health" name="base_health" step="any" value="{{ system.base_health }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="endurance_value">Each point of endurance increases character's health pool by </label>
                        <input type="number" id="endurance_value" name="endurance_value" step="any" value="{{ system.endurance_value }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="endurance_price">Arbitrary value of each point of endurance: </label>
                        <input type="number" id="endurance_price" name="endurance_price" step="any" value="{{ system.endurance_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Charisma</td>
                </tr>
                <tr>
                    <td>
                        Charisma gives you a chance to increase the damage of your next attack or lower the damage of
                        your opponent's next hit by a certain percentile. This effect has a chance of occurring at the
                        end of a turn.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the charisma effect occurrence chance:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="charisma_b1" name="charisma_math" value="1" checked />
                        <label for="charisma_b1">$\Big($$Charisma \over Opponent's\;level \;*\; 2$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="charisma_b2" name="charisma_math" value="2" />
                        <label for="charisma_b2">$(log_{3}(Charisma) * 10)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="charisma_b3" name="charisma_math" value="3" />
                        <label for="charisma_b3">$(Charisma)$%</label>
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="charisma_cap">Charisma effect chance is capped at </label>
                        <input type="number" id="charisma_cap" name="charisma_cap" step="any" value="{{ system.charisma_cap }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        %
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="charisma_price">Arbitrary value of each point of charisma: </label>
                        <input type="number" id="charisma_price" name="charisma_price" step="any" value="{{ system.charisma_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Luck</td>
                </tr>
                <tr>
                    <td>
                        Luck increases a chance that an attack becomes a critical attack.
                        Critical attacks damage is multiplied by a given amount.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="strength_crit">Physical strike's critical multiplier is </label>
                        <input type="number" id="strength_crit" name="strength_crit" step="any" value="{{ system.strength_crit }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="intelligence_crit">Magical attack's critical multiplier is </label>
                        <input type="number" id="intelligence_crit" name="intelligence_crit" step="any" value="{{ system.intelligence_crit }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the critical hit chance:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="luck_a1" name="luck_math" value="1" checked />
                        <label for="luck_a1">$\Big($$Luck \over Opponent's\;level \;*\; 2$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="luck_a2" name="luck_math" value="2" />
                        <label for="luck_a2">$(log_{3}(Luck) * 10)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="luck_a3" name="luck_math" value="3" />
                        <label for="luck_a3">$(Luck)$%</label>
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="luck_cap">Luck critical hit chance is capped at </label>
                        <input type="number" id="luck_cap" name="luck_cap" step="any" value="{{ system.luck_cap }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        %
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="luck_price">Arbitrary value of each point of luck: </label>
                        <input type="number" id="luck_price" name="luck_price" step="any" value="{{ system.luck_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Speed</td>
                </tr>
                <tr>
                    <td>
                        Speed dictates the turn order.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        The formula is as follows:
                    </td>
                </tr>
                <tr>
                    <td>
                        $Speed \over Opponent's\;speed$
                    </td>
                </tr>
                <tr>
                    <td>
                        For example - if Hero has 300 speed and the Enemy has 100 speed,
                        he will be able to make use of three turns for every single turn of the opponent.
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="speed_price">Arbitrary value of each point of speed: </label>
                        <input type="number" id="speed_price" name="speed_price" step="any" value="{{ system.speed_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Armor</td>
                </tr>
                <tr>
                    <td>
                        Armor decreases the damage taken from opponent's attacks.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Armor will protect you against:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_a1" name="armor_type" value="physical and magical" checked />
                        <label for="armor_a1">Physical and magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_a2" name="armor_type" value="physical" />
                        <label for="armor_a2">Physical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_a3" name="armor_type" value="magical" />
                        <label for="armor_a3">Magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the effectiveness of the armor:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_b1" name="armor_math" value="1" checked />
                        <label for="armor_b1">$Armor \over Armor \;+\; 100$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_b2" name="armor_math" value="2" />
                        <label for="armor_b2">$(log_{3}(Armor) * 10)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_b3" name="armor_math" value="3" />
                        <label for="armor_b3">$Flat\;damage\;reduction\;$</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Flat damage reduction means that each point of armor will reduce one damage taken from opponent's attacks.
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="armor_price">Arbitrary value of each point of armor: </label>
                        <input type="number" id="armor_price" name="armor_price" step="any" value="{{ system.armor_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="confirm-btn">
            <input type="submit" id="submit" value="Confirm">
        </div>
    </form>

{% endblock %}