{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ruleset.css') }}" type="text/css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block body %}
    <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <script>
    let v = 1

        function checkIfNotNumberOrNegativeOrEmpty(i) {
            if (isNaN(parseInt(i.value))) {
                i.value=v;
            }
            else if(i.value <= 1) {
                i.value=1;
            }
            else if (i.value === null) {
                i.value=1;
            }
            else
                v=i.value;
        }

        function checkIfGreaterThan100(i) {
            if (i.value > 100) {
                i.value = 100
            }
        }

        function capCheck(i) {
            checkIfNotNumberOrNegativeOrEmpty(i)
            checkIfGreaterThan100(i)
        }
    </script>

    <div id="navigation">
        <div class="nav-box">
            <a href="{{ url_for('ruleset') }}" class="nav-text current-page">< Ruleset ></a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('stat_sheet') }}" class="nav-text">Stat sheet</a>
        </div>
        <div class="nav-box">
            <a href="{{ url_for('simulation') }}" class="nav-text">Simulation</a>
        </div>
    </div>

    <form id="ruleset-box" method="POST" action="{{ url_for('ruleset') }}">
        <div id="ruleset-table">
            <table>
                <tr>
                    <td class="category-name-first">Strength</td>
                </tr>
                <tr>
                    <td>
                        Strength describes the effectiveness of physical attacks.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="strength_dmg">Each point of strength increases physical damage dealt by a value of</label>
                        <input type="number" id="strength_dmg" name="strength_dmg" value="{{ system.strength_dmg }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="strength_min">Physical damage spread ranges in between </label>
                        <input type="number" id="strength_min" name="strength_min" step="any" value="{{ system.strength_min }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        <label for="strength_max"> and </label>
                        <input type="number" id="strength_max" name="strength_max" step="any" value="{{ system.strength_max }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="strength_price">Arbitrary value of each point of strength: </label>
                        <input type="number" id="strength_price" name="strength_price" step="any" value="{{ system.strength_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Intelligence</td>
                </tr>
                <tr>
                    <td>
                        Intelligence describes the effectiveness of magical attacks.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="intelligence_dmg">Each point of intelligence increases magical damage dealt by a value of</label>
                        <input type="number" id="intelligence_dmg" name="intelligence_dmg" value="{{ system.intelligence_dmg }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="intelligence_min">Magical damage spread ranges in between </label>
                        <input type="number" id="intelligence_min" name="intelligence_min" step="any" value="{{ system.intelligence_min }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        <label for="intelligence_max"> and </label>
                        <input type="number" id="intelligence_max" name="intelligence_max" step="any" value="{{ system.intelligence_max }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="intelligence_price">Arbitrary value of each point of intelligence: </label>
                        <input type="number" id="intelligence_price" name="intelligence_price" step="any" value="{{ system.intelligence_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Agility</td>
                </tr>
                <tr>
                    <td>
                        Agility gives you a chance to dodge an opponent's attack. You take no damage from dodged attacks.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Agility increases your chance to dodge...
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_type_1" name="agility_type" value="physical"
                        {% if system.agility_type == "physical" %}
                                checked
                        {% endif %}
                        />
                        <label for="agility_type_1">Physical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_type_2" name="agility_type" value="magical"
                        {% if system.agility_type == "magical" %}
                                checked
                        {% endif %}
                        />
                        <label for="agility_type_2">Magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_type_3" name="agility_type" value="physical and magical"
                        {% if system.agility_type == "physical and magical" %}
                                checked
                        {% endif %}
                        />
                        <label for="agility_type_3">Physical and magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the dodge chance of a character:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_math_1" name="agility_math" value="1"
                        {% if system.agility_math == 1 %}
                                checked
                        {% endif %}
                        />
                        <label for="agility_math_1">$\Big($$Agility \over X \;*\; Y$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_math_2" name="agility_math" value="2"
                        {% if system.agility_math == 2 %}
                                checked
                        {% endif %}
                        />
                        <label for="agility_math_2">$\Big($$Agility \over Agility \;+\; Y$ $*\; 100 \Big)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_math_3" name="agility_math" value="3"
                        {% if system.agility_math == 3 %}
                                checked
                        {% endif %}
                        />
                        <label for="agility_math_3">$((Agility - X) * Y) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_math_4" name="agility_math" value="4"
                        {% if system.agility_math == 4 %}
                                checked
                        {% endif %}
                        />
                        <label for="agility_math_4">$(log_{Y}(Agility) * 10)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="agility_math_5" name="agility_math" value="5"
                        {% if system.agility_math == 5 %}
                                checked
                        {% endif %}
                        />
                        <label for="agility_math_5">$Agility \;$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="agility_x">Where X equals to opponent's </label>
                        <select type="number" id="agility_x" name="agility_x">
                            <option value="level" {% if system.agility_x == "level" %} selected {% endif %} >Level</option>
                            <option value="strength" {% if system.agility_x == "strength" %} selected {% endif %} >Strength</option>
                            <option value="intelligence" {% if system.agility_x == "intelligence" %} selected {% endif %} >Intelligence</option>
                            <option value="agility" {% if system.agility_x == "agility" %} selected {% endif %} >Agility</option>
                            <option value="willpower" {% if system.agility_x == "willpower" %} selected {% endif %} >Willpower</option>
                            <option value="endurance" {% if system.agility_x == "endurance" %} selected {% endif %} >Endurance</option>
                            <option value="charisma" {% if system.agility_x == "charisma" %} selected {% endif %} >Charisma</option>
                            <option value="luck" {% if system.agility_x == "luck" %} selected {% endif %} >Luck</option>
                            <option value="speed" {% if system.agility_x == "speed" %} selected {% endif %} >Speed</option>
                            <option value="armor" {% if system.agility_x == "armor" %} selected {% endif %} >Armor</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="agility_y">And Y equals to </label>
                        <input type="number" id="agility_y" name="agility_y" value="{{ system.agility_y }}"
                        onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="agility_cap">Maximum achievable dodge chance is </label>
                        <input type="number" id="agility_cap" name="agility_cap" value="{{ system.agility_cap }}"
                        onblur="capCheck(this)" />
                        <label for="agility_cap">%, agility points above that limit will not have any effect.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="agility_price">Arbitrary value of each point of agility: </label>
                        <input type="number" id="agility_price" name="agility_price" step="any" value="{{ system.agility_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Willpower</td>
                </tr>
                <tr>
                    <td>
                        Willpower lets you absorb portion of opponent's attack, lowering the damage taken by certain percentile.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Willpower increases your resistance against...
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_type_1" name="willpower_type" value="magical"
                        {% if system.willpower_type == "magical" %}
                                checked
                        {% endif %}
                        />
                        <label for="willpower_type_1">Magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_type_2" name="willpower_type" value="physical"
                        {% if system.willpower_type == "physical" %}
                                checked
                        {% endif %}
                        />
                        <label for="willpower_type_2">Physical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_type_3" name="willpower_type" value="physical and magical"
                        {% if system.willpower_type == "physical and magical" %}
                                checked
                        {% endif %}
                        />
                        <label for="willpower_type_3">Magical and physical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the resistance of a character:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_math_1" name="willpower_math" value="1"
                        {% if system.willpower_math == 1 %}
                                checked
                        {% endif %}
                        />
                        <label for="willpower_math_1">$\Big($$Willpower \over X \;*\; Y$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_math_2" name="willpower_math" value="2"
                        {% if system.willpower_math == 2 %}
                                checked
                        {% endif %}
                        />
                        <label for="willpower_math_2">$\Big($$Willpower \over Willpower \;+\; Y$ $*\; 100 \Big)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_math_3" name="willpower_math" value="3"
                        {% if system.willpower_math == 3 %}
                                checked
                        {% endif %}
                        />
                        <label for="willpower_math_3">$((Willpower - X) * Y) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_math_4" name="willpower_math" value="4"
                        {% if system.willpower_math == 4 %}
                                checked
                        {% endif %}
                        />
                        <label for="willpower_math_4">$(log_{Y}(Willpower) * 10)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="willpower_math_5" name="willpower_math" value="5"
                        {% if system.willpower_math == 5 %}
                                checked
                        {% endif %}
                        />
                        <label for="willpower_math_5">$Willpower \;$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="willpower_x">Where X equals to opponent's </label>
                        <select type="number" id="willpower_x" name="willpower_x">
                            <option value="level" {% if system.willpower_x == "level" %} selected {% endif %} >Level</option>
                            <option value="strength" {% if system.willpower_x == "strength" %} selected {% endif %} >Strength</option>
                            <option value="intelligence" {% if system.willpower_x == "intelligence" %} selected {% endif %} >Intelligence</option>
                            <option value="agility" {% if system.willpower_x == "agility" %} selected {% endif %} >Agility</option>
                            <option value="willpower" {% if system.willpower_x == "willpower" %} selected {% endif %} >Willpower</option>
                            <option value="endurance" {% if system.willpower_x == "endurance" %} selected {% endif %} >Endurance</option>
                            <option value="charisma" {% if system.willpower_x == "charisma" %} selected {% endif %} >Charisma</option>
                            <option value="luck" {% if system.willpower_x == "luck" %} selected {% endif %} >Luck</option>
                            <option value="speed" {% if system.willpower_x == "speed" %} selected {% endif %} >Speed</option>
                            <option value="armor" {% if system.willpower_x == "armor" %} selected {% endif %} >Armor</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="willpower_y">And Y equals to </label>
                        <input type="number" id="willpower_y" name="willpower_y" value="{{ system.willpower_y }}"
                        onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="willpower_cap">Maximum achievable resistance is </label>
                        <input type="number" id="willpower_cap" name="willpower_cap" value="{{ system.willpower_cap }}"
                        onblur="capCheck(this)" />
                        <label for="willpower_cap">%, willpower points above that limit will not have any effect.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="willpower_price">Arbitrary value of each point of willpower: </label>
                        <input type="number" id="willpower_price" name="willpower_price" step="any" value="{{ system.willpower_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Endurance</td>
                </tr>
                <tr>
                    <td>
                        Endurance dictates how much health points a character possesses. When somebody's health points
                        reach zero or negative values, they lose the battle.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="base_health">Base health of all characters is </label>
                        <input type="number" id="base_health" name="base_health" step="any" value="{{ system.base_health }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="endurance_value">Each point of endurance increases character's health pool by </label>
                        <input type="number" id="endurance_value" name="endurance_value" step="any" value="{{ system.endurance_value }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="endurance_price">Arbitrary value of each point of endurance: </label>
                        <input type="number" id="endurance_price" name="endurance_price" step="any" value="{{ system.endurance_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Charisma</td>
                </tr>
                <tr>
                    <td>
                        Charisma gives you a chance to increase the damage of your next attack or lower the damage of
                        your opponent's next hit by a certain percentile. This effect has a chance of occurring at the
                        end of a turn.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the charisma effect occurrence chance:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="charisma_math_1" name="charisma_math" value="1"
                        {% if system.charisma_math == 1 %}
                                checked
                        {% endif %}
                        />
                        <label for="charisma_math_1">$\Big($$Charisma \over X \;*\; Y$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="charisma_math_2" name="charisma_math" value="2"
                        {% if system.charisma_math == 2 %}
                                checked
                        {% endif %}
                        />
                        <label for="charisma_math_2">$\Big($$Charisma \over Charisma \;+\; Y$ $*\; 100 \Big)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="charisma_math_3" name="charisma_math" value="3"
                        {% if system.charisma_math == 3 %}
                                checked
                        {% endif %}
                        />
                        <label for="charisma_math_3">$((Charisma - X) * Y) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="charisma_math_4" name="charisma_math" value="4"
                        {% if system.charisma_math == 4 %}
                                checked
                        {% endif %}
                        />
                        <label for="charisma_math_4">$(log_{Y}(Charisma) * 10)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="charisma_math_5" name="charisma_math" value="5"
                        {% if system.charisma_math == 5 %}
                                checked
                        {% endif %}
                        />
                        <label for="charisma_math_5">$Charisma \;$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="charisma_x">Where X equals to opponent's </label>
                        <select type="number" id="charisma_x" name="charisma_x">
                            <option value="level" {% if system.charisma_x == "level" %} selected {% endif %} >Level</option>
                            <option value="strength" {% if system.charisma_x == "strength" %} selected {% endif %} >Strength</option>
                            <option value="intelligence" {% if system.charisma_x == "intelligence" %} selected {% endif %} >Intelligence</option>
                            <option value="agility" {% if system.charisma_x == "agility" %} selected {% endif %} >Agility</option>
                            <option value="willpower" {% if system.charisma_x == "willpower" %} selected {% endif %} >Willpower</option>
                            <option value="endurance" {% if system.charisma_x == "endurance" %} selected {% endif %} >Endurance</option>
                            <option value="charisma" {% if system.charisma_x == "charisma" %} selected {% endif %} >Charisma</option>
                            <option value="luck" {% if system.charisma_x == "luck" %} selected {% endif %} >Luck</option>
                            <option value="speed" {% if system.charisma_x == "speed" %} selected {% endif %} >Speed</option>
                            <option value="armor" {% if system.charisma_x == "armor" %} selected {% endif %} >Armor</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="charisma_y">And Y equals to </label>
                        <input type="number" id="charisma_y" name="charisma_y" value="{{ system.charisma_y }}"
                        onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="charisma_min">Charisma effect ranges in strength between </label>
                        <input type="number" id="charisma_min" name="charisma_min" step="any" value="{{ system.charisma_min }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        %
                        <label for="charisma_max">and </label>
                        <input type="number" id="charisma_max" name="charisma_max" step="any" value="{{ system.charisma_max }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                        %
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="charisma_cap">Maximum achievable chance for charisma effect to trigger is </label>
                        <input type="number" id="charisma_cap" name="charisma_cap" step="any" value="{{ system.charisma_cap }}"
                               onblur="capCheck(this)" />
                        <label for="charisma_cap">%, charisma points above that limit will not have any effect.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="charisma_price">Arbitrary value of each point of charisma: </label>
                        <input type="number" id="charisma_price" name="charisma_price" step="any" value="{{ system.charisma_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Luck</td>
                </tr>
                <tr>
                    <td>
                        Luck increases a chance that an attack becomes a critical attack.
                        Critical attacks damage is multiplied by a given amount.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="strength_crit">Physical strike's critical multiplier is </label>
                        <input type="number" id="strength_crit" name="strength_crit" step="any" value="{{ system.strength_crit }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="intelligence_crit">Magical attack's critical multiplier is </label>
                        <input type="number" id="intelligence_crit" name="intelligence_crit" step="any" value="{{ system.intelligence_crit }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the critical hit chance:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="luck_math_1" name="luck_math" value="1"
                        {% if system.luck_math == 1 %}
                                checked
                        {% endif %}
                        />
                        <label for="luck_math_1">$\Big($$Luck \over X \;*\; Y$ $*\; 100 \Big) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="luck_math_2" name="luck_math" value="2"
                        {% if system.luck_math == 2 %}
                                checked
                        {% endif %}
                        />
                        <label for="luck_math_2">$\Big($$Luck \over Luck \;+\; Y$ $*\; 100 \Big)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="luck_math_3" name="luck_math" value="3"
                        {% if system.luck_math == 3 %}
                                checked
                        {% endif %}
                        />
                        <label for="luck_math_3">$((Luck - X) * Y) $%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="luck_math_4" name="luck_math" value="4"
                        {% if system.luck_math == 4 %}
                                checked
                        {% endif %}
                        />
                        <label for="luck_math_4">$(log_{Y}(Luck) * 10)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="luck_math_5" name="luck_math" value="5"
                        {% if system.luck_math == 5 %}
                                checked
                        {% endif %}
                        />
                        <label for="luck_math_5">$Luck \;$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="luck_x">Where X equals to opponent's </label>
                        <select type="number" id="luck_x" name="luck_x">
                            <option value="level" {% if system.luck_x == "level" %} selected {% endif %} >Level</option>
                            <option value="strength" {% if system.luck_x == "strength" %} selected {% endif %} >Strength</option>
                            <option value="intelligence" {% if system.luck_x == "intelligence" %} selected {% endif %} >Intelligence</option>
                            <option value="agility" {% if system.luck_x == "agility" %} selected {% endif %} >Agility</option>
                            <option value="willpower" {% if system.luck_x == "willpower" %} selected {% endif %} >Willpower</option>
                            <option value="endurance" {% if system.luck_x == "endurance" %} selected {% endif %} >Endurance</option>
                            <option value="charisma" {% if system.luck_x == "charisma" %} selected {% endif %} >Charisma</option>
                            <option value="luck" {% if system.luck_x == "luck" %} selected {% endif %} >Luck</option>
                            <option value="speed" {% if system.luck_x == "speed" %} selected {% endif %} >Speed</option>
                            <option value="armor" {% if system.luck_x == "armor" %} selected {% endif %} >Armor</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="luck_y">And Y equals to </label>
                        <input type="number" id="luck_y" name="luck_y" value="{{ system.luck_y }}"
                        onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="luck_cap">Maximum achievable chance of a critical strike occurring is </label>
                        <input type="number" id="luck_cap" name="luck_cap" step="any" value="{{ system.luck_cap }}"
                               onblur="capCheck(this)" />
                        <label for="luck_cap">%, luck points above that limit will not have any effect.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="luck_price">Arbitrary value of each point of luck: </label>
                        <input type="number" id="luck_price" name="luck_price" step="any" value="{{ system.luck_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Speed</td>
                </tr>
                <tr>
                    <td>
                        Speed dictates the turn order.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        The formula is as follows:
                    </td>
                </tr>
                <tr>
                    <td>
                        $Speed \over Opponent's\;speed$
                    </td>
                </tr>
                <tr>
                    <td>
                        For example - if Hero has 300 speed and the Enemy has 100 speed,
                        he will be able to make use of three turns for every single turn of the opponent.
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="speed_price">Arbitrary value of each point of speed: </label>
                        <input type="number" id="speed_price" name="speed_price" step="any" value="{{ system.speed_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="category-name">Armor</td>
                </tr>
                <tr>
                    <td>
                        Armor decreases the damage taken from opponent's attacks.
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Armor will protect you against:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_type_1" name="armor_type" value="physical and magical"
                        {% if system.armor_type == "physical and magical" %}
                                checked
                        {% endif %}
                        />
                        <label for="armor_type_1">Physical and magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_type_2" name="armor_type" value="physical"
                        {% if system.armor_type == "physical" %}
                                checked
                        {% endif %}
                        />
                        <label for="armor_type_2">Physical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_type_3" name="armor_type" value="magical"
                        {% if system.armor_type == "magical" %}
                                checked
                        {% endif %}
                        />
                        <label for="armor_type_3">Magical attacks</label>
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        Choose the mathematical formula that will calculate the effectiveness of the armor:
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_math_1" name="armor_math" value="1"
                        {% if system.armor_math == 1 %}
                                checked
                        {% endif %}
                        />
                        <label for="armor_math_1">$\Big($$Armor \over Armor \;+\; Y$ $*\; 100 \Big)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_math_2" name="armor_math" value="2"
                        {% if system.armor_math == 2 %}
                                checked
                        {% endif %}
                        />
                        <label for="armor_math_2">$(log_{Y}(Armor) * 10)$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_math_3" name="armor_math" value="3"
                        {% if system.armor_math == 3 %}
                                checked
                        {% endif %}
                        />
                        <label for="armor_math_3">$Armor \;$%</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" id="armor_math_4" name="armor_math" value="4"
                        {% if system.armor_math == 4 %}
                                checked
                        {% endif %}
                        />
                        <label for="armor_math_4">$Flat\;damage\;reduction\;$</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Flat damage reduction means that each point of armor will reduce one damage taken from opponent's attacks.
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="armor_y">Where Y equals to </label>
                        <input type="number" id="armor_y" name="armor_y" value="{{ system.armor_y }}"
                        onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
                <tr>
                    <td class="small-padding-top">
                        <label for="armor_cap">Maximum achievable armor mitigation is </label>
                        <input type="number" id="armor_cap" name="armor_cap" value="{{ system.armor_cap }}"
                        onblur="capCheck(this)" />
                        <label for="armor_cap">%, armor above that limit will have no effect.</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="armor_price">Arbitrary value of each point of armor: </label>
                        <input type="number" id="armor_price" name="armor_price" step="any" value="{{ system.armor_price }}"
                               onblur="checkIfNotNumberOrNegativeOrEmpty(this)" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="confirm-btn">
            <input type="submit" name="ruleset_update" id="submit" value="Confirm">
        </div>
    </form>

{% endblock %}