#main-box {
    justify-content: start; !important;
    align-items: start; !important;

    padding-left: 25px;
}

.combat-system-box {
    display: flex;
    flex-direction: column;
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;

    min-width: 90vw;
    max-width: 90vw;
    height: 100%;
    background-color: #33385b;
    margin-bottom: 25px;
    padding: 25px;
}

.confirm-btn {
    padding-top: 25px;
}

input[type=submit] {
    width: 100px;
    height: 50px;
    border-radius: 17px;
    background-color: #4c5a9b;
}

#confirm:hover {
    transition: 0.2s;
    background-color: #6872af;
}

.delete-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#delete {
    background-color: #663b3c;
}

#delete:hover {
    transition: 0.2s;
    background-color: #864c4d;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

.description {
    padding: 20px;
    background-color: #4e568c;
    font-size: 1.15em;

    white-space: pre-wrap;
}

@media (max-width: 900px) {
    #main-box {
        padding-left: 10px;
    }
}