.MathJax {
font-size: 1.2em !important;
}

#ruleset-box > * {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 40vw;
}

#ruleset-table > table {
    border: 10px ridge rgb(73, 78, 98);
    background-color: rgb(47, 50, 86);
    padding: 3.5%;
}

.category-name-first {
    font-size: 1.2em;
    font-weight: bold;
}

.category-name {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 15%;
}

.confirm-btn {
    padding: 100px;
}

#submit {
    width: 200px;
    height: 50px;
}

#submit:hover {
    transition: 0.2s;
    background-color: #6872af;
}

input {
    width: 80px;
    background-color: #33385b;
}

input[type="radio"] {
    margin: 5px;
}

select {
    background-color: #33385b;
}

.small-padding-top {
    padding-top: 30px;
}

@media (max-width: 1500px) {
    #ruleset-box > * {
        max-width: 50vw;
    }
}

@media (max-width: 1200px) {
    #ruleset-box > * {
        max-width: 70vw;
    }
}

@media (max-width: 800px) {
    #ruleset-box > * {
        max-width: 90vw;
    }
}