.MathJax {
font-size: 1.2em !important;
}

#ruleset-box > * {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 40vw;
}

#ruleset-table > table {
    border: 10px ridge rgb(169, 169, 169);
    background-color: rgb(229, 229, 229);
    padding: 3.5%;
}

.category-name-first {
    font-size: 1.2em;
    font-weight: bold;
}

.category-name {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 5%;
}

input {
    width: 60px;
}

input[type="radio"] {
    margin: 5px;
}

@media (max-width: 1500px) {
    #ruleset-box > * {
        max-width: 50vw;
    }
}

@media (max-width: 1200px) {
    #ruleset-box > * {
        max-width: 70vw;
    }
}

@media (max-width: 800px) {
    #ruleset-box > * {
        max-width: 90vw;
    }
}