#stat-sheet-grid {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#stat-sheet-grid > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-stat-sheet-table {
    grid-area: 1 / 1 / 2 / 2;
}

.enemy-stat-sheet-table {
    grid-area: 1 / 3 / 2 / 4;
}

table {
    padding: 3.5%;
}

td {
    width: 165px;
}

input {
    width: 125px;
    background-color: #33385b;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.hero-tooltip {
    background-color: rgb(46, 57, 96);
    border: 4px ridge rgb(50, 59, 98);
}

.enemy-tooltip {
    background-color: rgb(73, 36, 37);
    border: 4px ridge rgb(88, 45, 46);
}

.tooltip-text-combat-value {
    visibility: hidden;

    padding: 10px;
    width: 250px;
    text-align: center;

    /* Tooltip text position */
    position: absolute;
    z-index: 1;
    top: 20px;
    right: -2%;
}

.tooltip-text-likelihood {
    visibility: hidden;

    padding: 10px;
    width: 250px;
    text-align: center;

    /* Tooltip text position */
    position: absolute;
    z-index: 1;
    top: 90px;
    right: -2%;
}

.tooltip:hover .tooltip-text-likelihood, .tooltip:hover .tooltip-text-combat-value {
    visibility: visible;
}

.small-padding-top {
    padding-top: 30px;
}

.small-padding-bottom {
    padding-bottom: 30px;
}

.hero-stat-sheet-table > table {
    background-color: rgb(71, 84, 134);
    border: 10px ridge rgb(50, 59, 98);
}

.hero-td-category {
    background-color: rgb(33, 35, 59);
    padding: 0 0 0 5%;
}

.hero-td-value {
    background-color: rgb(38, 41, 79);
    padding: 0 0 0 5%;
}

.enemy-stat-sheet-table > table {
    background-color: rgb(103, 59, 59);
    border: 10px ridge rgb(89, 45, 45);
}

.enemy-td-category {
    background-color: rgb(72, 35, 35);
    padding: 0 0 0 5%;
}

.enemy-td-value {
    background-color: rgb(87, 37, 37);
    padding: 0 0 0 5%;
}

.confirm-btn {
    grid-area: 2 / 1 / 3 / 4;
    margin-top: 10%;
    margin-bottom: 10%;
}

#submit {
    width: 200px;
    height: 50px;
}

#submit:hover {
    transition: 0.2s;
    background-color: #6872af;
}

@media (max-width: 1000px) {
    #stat-sheet-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 0.3fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }
    .hero-stat-sheet-table {
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .enemy-stat-sheet-table {
        grid-area: 2 / 1 / 3 / 2;
    }

    .confirm-btn {
        grid-area: 3 / 1 / 4 / 2;
    }

    #submit {
        width: 50%;
        height: 20%;
    }
}